wine/
*.exe
*.zip
*.7z
*.txt
*.log
.arch.*/
.backup_*
[dD]ebug/
[rR]ealease/
bin/
node_packages/
.vs*/
*.nupkg
sql.config
secret.config
*.lock
secret.json
.sdkman/
.vscode/
*.swp
.viminfo
node_modules/
Mono.XSP/
