[user]
	name = AndriusK
	email = akrisiun@gmail.com
[alias]
    s = status
    com = commit
    ch = checkout
    lms = !git local-master-sync-check
#    current-branch= !git branch | grep '*' | cut -d ' ' -f 2
    di = diff
    dc = diff --cached
    amend = commit --amend
    aall = add --all
    head = !git l -1
    h = !git head
    hp = "!show_git_head"
    r = !git l -30
    ra = !git r --all
    ff = merge --ff-only
    pullff = pull --ff-only
    noff = merge --no-ff
    l = "!pretty_git_log"
    la = !git l --all
    ls = ls-files
[core]
	excludesfile = /Users/andriusk/.gitignore_global
	autocrlf = False
	editor = \"codein\" fileeditor
[pull]
	rebase = false
[push]
	default = simple
[color]
	ui = auto
[color "branch"]
	current = yellow bold
	master = green bold
	local = green bold
	remote = cyan bold	
[credential]
	helper = cache --timeout=262800
[i18n]
	filesEncoding = utf-8
[core]
	autocrlf = input
	eol = native
[pager]
	branch = false
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[branch]
	autosetuprebase = never
[merge]
	tool = kdiff3
[diff]
	guitool = kdiff3
