wine/
*.exe
*.zip
*.7z
*.txt
*.log
*.bak
hosts
.arch.*/
.backup_*
[dD]ebug/
[rR]ealease/
bin/
node_packages/
.vs*/
*.nupkg
sql.config
secret.config
*.lock
secret.json
.sdkman/
.vscode/
*.swp
.viminfo
node_modules/
Mono.XSP/
NugetServer/
xsp4/
hosts/term/
profile.win10/
nodejs/
corectl
corectld
corectld.runner
qcow-tool
term/
vmrun
*.msi
win10_64/**/*.dll
*.chm
win10_64/7-Zip/
win10_64/ConEmu/
/dotc/
