
" https://blog.inkdrop.info/vscode-like-environment-with-vim-tmux-4c2bfe17d31e 
" Split window
nmap ss :split<Return><C-w>w
nmap sv :vsplit<Return><C-w>w
" Move window
nmap <Space> <C-w>w
map s<left> <C-w>h
map s<up> <C-w>k
map s<down> <C-w>j
map s<right> <C-w>l
map sh <C-w>h
map sk <C-w>k
map sj <C-w>j
map sl <C-w>l
" Resize window
nmap <C-w><left> <C-w><
nmap <C-w><right> <C-w>>
nmap <C-w><up> <C-w>+
nmap <C-w><down> <C-w>-

# ale plugin for errors
#nmap <silent> <C-k> <Plug>(ale_previous_wrap)
#nmap <silent> <C-j> <Plug>(ale_next_wrap)

# Open current directory
# bind o run-shell "open #{pane_current_path}"