<configuration>
  <system.webServer>

    <handlers>
      <!--
      -->
      <add name="iisnode"      path="iis.js" verb="*" modules="iisnode" />
      <add name="iisnode-term" path="term/iis.js" verb="*" modules="iisnode" />
      
      <add name="iisnode-demo" path="demo/iis.js" verb="*" modules="iisnode" />
      <add name="iisnode-hello" path="hello.js" verb="*" modules="iisnode" />
    </handlers>

    <modules>

<!--
    <iisnode …
        debuggerExtensionDll=”iisnode-inspector-0.7.3.dll”
        msbuild /p:Platform=x64 src\iisnode\iisnode.sln
-->
    </modules>

    <!--
        <iisnode
          nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;" 
          interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;" />
        <rewrite>
          <rules>
          </rules>
        </rewrite>
    -->
    
  </system.webServer>
</configuration>
