<?xml version="1.0"?>
<configuration>

  <!-- <connectionStrings configSource="sql.config" /> -->
  <!-- -->
  <connectionStrings>
    <clear/>
    <add name="Default" connectionString="Data Source=localhost,1433;
         Persist Security Info=True;Integrated Security=true;
         Connect Timeout=5;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" 
         providerName="System.Data.SqlClient"/>
    <add name="DefaultV11" connectionString="Data Source=(localdb)\v11.0;
         Persist Security Info=True;Integrated Security=true;
         Connect Timeout=10;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
         
  <appSettings>
    <add key="nosql.vm" value="1" />
    <add key="nosql.local" value="0" />
    <add key="commandTimeout" value="1800" />
  
    <add key="cmd"
         value="declare @db varchar(max) = DB_NAME(); exec sp_helpdb @db;
select * from sys.tables order by create_date desc"
    />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<probing privatePath="bin;..\bin"/>-->
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <!--<Reference Include="System.Data.SqlClient, Version=4.2.1.0, Culture=neutral, PublicKeyToken=b213442182ae2f7a"-->
        <assemblyIdentity name="System.Data.SqlClient" publicKeyToken="b213442182ae2f7a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.2.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
